{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{ user.username }}'s Home {% endblock %}

{% block content %}
  <h1 class="text-primary">Hello {{ user.username }}!</h1>
  <p class="lead">
    Welcome to your home page!

    There are currently {{ ngames }} games in the database. {{ nactivegames }} games are active.
  </p>
  <hr class="my-4">
  <div class="row">
    <div class="col-md-6">
      These games await your move:
      <ul>
        {% for g in allmygames %}
          <li> Game {{ g.id }}: {{ g.first_player }} vs. {{ g.second_player }} </li>
        {% endfor %}
      </ul>
    </div> <!-- col-md-6 -->

    <div class="col-md-6">
      <div class="jumbotron jumbotron-fluid">
        <h3 class="display-4">Pending Invites</h3>
        <hr class="my-4">

        <container class="container-fluid">
          <ul class="list-group">
            {% for inv in allmyinvites %}
              <a class="list-group-item row" href="{% url 'player_view_invitation' inv.id %}">
                <div class="col-md-6"> {{ inv.from_player }} </div>
                <div class="col-md-6"> {{ inv.timestamp }} </div>
              </a>
            {% endfor %}

          </ul>
        </container>
      </div>

      <a href="{% url 'player_new_invitation' %}" class="btn btn-default">
        Invite a player to a game
      </a>
    </div>
  </div> <!-- row -->
{% endblock %}
