{% extends 'base.html' %}

{% block title %}
  View Game Invite
{% endblock %}

{% block content %}
  <div class="panel text-center">
    <div class="panel-header bg-success">
      Game Invite
    </div>
    <div class="panel-body">
      <h5 class="panel-title">
        {{ invitation.from_player }} challenged you to a game!
      </h5>
      <p class="panel-text">
        {{ invitation.message }}
      </p>
      <form action="" method="post">
        {% csrf_token %}
        <button type="submit" name="accept" value="ok" class="btn btn-outline-success">Accept</button>
        <button type="submit" name="deny" value="no" class="btn btn-outline-dark">Deny</button>
      </form>
    </div>
    <div class="panel-footer text-muted">
      {{ invitation.timestamp }}
    </div>
  </div>
{% endblock %}
